# Multiple Regression

## Learning goals:

For a multivariable linear regression, students will be able to:

* compare and contrast with univariable linear regression
* write an example of the equation
* develop one with statsmodels 
* assess the model fit 
* validate the model


### Keyterms
- Multivariable
- Train-test split
- MSE: Mean squared error
- RSME: Root squared mean error


## Scenario

The University of San Paulo in Brazil is likes to party. We are a contracted beer supplier to the University and we want to make sure we have enough supply on hand. We are hoping to build a model that can predict beer consumption given other variables. 


![beer](pexels-photo-544988-small.jpeg)
More about the dataset can be found [here](https://www.kaggle.com/dongeorge/beer-consumption-sao-paulo)


###  Prior Knowledge


Before looking at the dataset, what variables do we think might be in there? What might make a student drink more? 

#### Step 1:  Discussion 

- compare and contrast with univariable linear regression
- How is this different from the regression we've done before?
- Here, you'll explore how to perform linear regressions using multiple independent variables to better predict a target variable.

#### Step 2:  Develop a multivariable regression model with statsmodels 

**Load Libraries and load in data**

In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, train_test_split

import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('Consumo_cerveja.csv')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 7 columns):
Data                           365 non-null object
Temperatura Media (C)          365 non-null object
Temperatura Minima (C)         365 non-null object
Temperatura Maxima (C)         365 non-null object
Precipitacao (mm)              365 non-null object
Final de Semana                365 non-null float64
Consumo de cerveja (litros)    365 non-null float64
dtypes: float64(2), object(5)
memory usage: 51.5+ KB

In [5]:
df.head()

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,2015-01-01,"27,3","23,9","32,5",0,0.0,25.461
1,2015-01-02,"27,02","24,5","33,5",0,0.0,28.972
2,2015-01-03,"24,82","22,4","29,9",0,1.0,30.814
3,2015-01-04,"23,98","21,5","28,6","1,2",1.0,29.799
4,2015-01-05,"23,82",21,"28,3",0,0.0,28.900

### Small Data Cleaning Tasks:
- Drop Date
- convert all the columns to numeric (replace ',' with '.')
- rename columns to be `name = ['temp-median', 'temp-min', 'temp-max', 'rain', 'finals-week', 'target']`

In [6]:
df.columns

Index(['Data', 'Temperatura Media (C)', 'Temperatura Minima (C)',
       'Temperatura Maxima (C)', 'Precipitacao (mm)', 'Final de Semana',
       'Consumo de cerveja (litros)'],
      dtype='object')

In [18]:
df = pd.read_csv('Consumo_cerveja.csv', decimal=',', parse_dates=['Data'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 7 columns):
Data                           365 non-null datetime64[ns]
Temperatura Media (C)          365 non-null float64
Temperatura Minima (C)         365 non-null float64
Temperatura Maxima (C)         365 non-null float64
Precipitacao (mm)              365 non-null float64
Final de Semana                365 non-null float64
Consumo de cerveja (litros)    365 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 51.5 KB

In [20]:
df['Consumo de cerveja (litros)'] = pd.to_numeric(
    df['Consumo de cerveja (litros)'])

In [12]:
# clean data here
var = ['Temperatura Media (C)', 'Temperatura Minima (C)',
       'Temperatura Maxima (C)', 'Precipitacao (mm)']
for v in var:
    df[v].apply(lambda x: x.replace(',','.'))

AttributeError: 'float' object has no attribute 'replace'

In [22]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 7 columns):
Data                           365 non-null datetime64[ns]
Temperatura Media (C)          365 non-null float64
Temperatura Minima (C)         365 non-null float64
Temperatura Maxima (C)         365 non-null float64
Precipitacao (mm)              365 non-null float64
Final de Semana                365 non-null float64
Consumo de cerveja (litros)    365 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 51.5 KB

,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
count,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000
mean,21.226356,17.461370,26.611507,5.196712,0.284932,25.401367
std,3.180108,2.826185,4.317366,12.417844,0.452001,4.399143
min,12.900000,10.600000,14.500000,0.000000,0.000000,14.343000
25%,19.020000,15.300000,23.800000,0.000000,0.000000,22.008000
50%,21.380000,17.900000,26.900000,0.000000,0.000000,24.867000
75%,23.280000,19.600000,29.400000,3.200000,1.000000,28.631000
max,28.860000,24.500000,36.500000,94.800000,1.000000,37.937000

**Check** for NaNs

In [23]:
df.isna().sum()

Data                           576
Temperatura Media (C)          576
Temperatura Minima (C)         576
Temperatura Maxima (C)         576
Precipitacao (mm)              576
Final de Semana                576
Consumo de cerveja (litros)    576
dtype: int64

In [24]:
df.dropna(inplace=True)

In [25]:
df.shape

(365, 7)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 7 columns):
Data                           365 non-null datetime64[ns]
Temperatura Media (C)          365 non-null float64
Temperatura Minima (C)         365 non-null float64
Temperatura Maxima (C)         365 non-null float64
Precipitacao (mm)              365 non-null float64
Final de Semana                365 non-null float64
Consumo de cerveja (litros)    365 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 32.8 KB

In [31]:
df = df.drop('Data', axis =1)

In [32]:
df.columns = ['temp-median', 'temp-min', 'temp-max', 'rain', 'finals-week', 'target']

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 6 columns):
temp-median    365 non-null float64
temp-min       365 non-null float64
temp-max       365 non-null float64
rain           365 non-null float64
finals-week    365 non-null float64
target         365 non-null float64
dtypes: float64(6)
memory usage: 30.0 KB

In [34]:
df.dropna(inplace=True)

In [35]:
df.shape

(365, 6)

### Everyone write an example of an equation for our multiple regression

The main idea here is pretty simple. Whereas, in simple linear regression we took our dependent variable to be a function only of a single independent variable, here we'll be taking the dependent variable to be a function of multiple independent variables.

<img src="https://miro.medium.com/max/1400/1*d0icRnPHWjHSNXxuoYT5Vg.png" width=450 />

Our regression equation, then, instead of looking like $\hat{y} = mx + b$, will now look like:

$\hat{y} = \hat{\beta}_0 + \hat{\beta}_1x_1 + ... + \hat{\beta}_nx_n$.

Remember that the hats ( $\hat{}$ ) indicate parameters that are estimated.

$$ \hat y = \hat\beta_0 + \hat\beta_1 x_1 + \hat\beta_2 x_2 +\ldots + \hat\beta_n x_n $$ 

What would the formula be with real values?

**Send your equations to me via zoom or slack and I will paste them into the notebook**

Equations here

>

![statsmodels](https://www.statsmodels.org/stable/_static/statsmodels_hybi_banner.png)

Okay, now here's how you can use format and join to make the formula with **code**:

In [36]:
formula = 'target~{}'.format("+".join(df.columns[:-1]))
formula

'target~temp-median+temp-min+temp-max+rain+finals-week'

In [41]:
df.head()

   temp-median  temp-min  temp-max  rain  finals-week  target
0        27.30      23.9      32.5   0.0          0.0  25.461
1        27.02      24.5      33.5   0.0          0.0  28.972
2        24.82      22.4      29.9   0.0          1.0  30.814
3        23.98      21.5      28.6   1.2          1.0  29.799
4        23.82      21.0      28.3   0.0          0.0  28.900

In [42]:
cons = sm.add_constant(df.drop('target', axis=1))
cons

/Users/ptw/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

     const  temp-median  temp-min  temp-max  rain  finals-week
0      1.0        27.30      23.9      32.5   0.0          0.0
1      1.0        27.02      24.5      33.5   0.0          0.0
2      1.0        24.82      22.4      29.9   0.0          1.0
3      1.0        23.98      21.5      28.6   1.2          1.0
4      1.0        23.82      21.0      28.3   0.0          0.0
5      1.0        23.78      20.1      30.5  12.2          0.0
6      1.0        24.00      19.5      33.7   0.0          0.0
7      1.0        24.90      19.5      32.8  48.6          0.0
8      1.0        28.20      21.9      34.0   4.4          0.0
9      1.0        26.76      22.1      34.2   0.0          1.0
10     1.0        27.62      22.2      34.8   3.4          1.0
11     1.0        25.96      21.4      35.4   0.0          0.0
12     1.0        25.52      21.2      34.8   0.8          0.0
13     1.0        25.96      21.3      34.0   1.6          0.0
14     1.0        25.86      21.5      32.8   3.0          0.0
15     1.0        26.50      22.3      32.7   2.0          0.0
16     1.0        28.86      22.0      35.8   0.0          1.0
17     1.0        28.26      23.4      35.6   0.0          1.0
18     1.0        28.22      22.7      36.5   3.7          0.0
19     1.0        27.68      23.3      35.6   0.6          0.0
20     1.0        25.32      22.7      30.9   0.0          0.0
21     1.0        21.74      19.2      26.1  31.0          0.0
22     1.0        21.04      18.5      26.1   3.6          0.0
23     1.0        23.12      19.0      29.4  13.0          1.0
24     1.0        24.40      18.1      30.0   0.0          1.0
25     1.0        22.40      18.9      28.7  20.8          0.0
26     1.0        23.60      20.5      28.7   1.2          0.0
27     1.0        25.68      20.1      29.9   4.9          0.0
28     1.0        25.00      21.5      29.2   0.0          0.0
29     1.0        22.80      20.9      26.9   0.0          0.0
..     ...          ...       ...       ...   ...          ...
335    1.0        22.10      18.2      29.4   0.0          0.0
336    1.0        22.44      20.2      26.1   0.0          0.0
337    1.0        22.76      19.0      29.1   0.0          0.0
338    1.0        24.80      19.5      30.6   0.1          1.0
339    1.0        23.12      20.6      28.0   0.1          1.0
340    1.0        20.04      18.0      23.9  47.8          0.0
341    1.0        21.70      18.0      28.0   0.0          0.0
342    1.0        23.96      19.6      27.9   0.0          0.0
343    1.0        24.00      22.2      27.7   0.0          0.0
344    1.0        24.04      20.7      30.3   0.0          0.0
345    1.0        23.92      20.6      30.8   0.0          1.0
346    1.0        24.54      19.3      31.0  12.2          1.0
347    1.0        26.28      21.1      32.5   2.0          0.0
348    1.0        25.66      20.6      32.8   4.0          0.0
349    1.0        22.04      20.7      24.8   1.5          0.0
350    1.0        23.32      18.9      28.7   0.0          0.0
351    1.0        26.42      19.6      33.5   0.1          0.0
352    1.0        23.74      19.8      31.3   1.3          1.0
353    1.0        22.84      19.6      29.0   8.4          1.0
354    1.0        23.12      19.6      29.1  27.2          0.0
355    1.0        24.60      19.6      32.4  43.0          0.0
356    1.0        27.46      22.1      32.4   3.0          0.0
357    1.0        24.72      20.5      31.5   3.4          0.0
358    1.0        23.58      17.8      31.0  39.0          0.0
359    1.0        23.34      17.8      29.8  94.8          1.0
360    1.0        24.00      21.1      28.2  13.6          1.0
361    1.0        22.64      21.1      26.7   0.0          0.0
362    1.0        21.68      20.3      24.1  10.3          0.0
363    1.0        21.38      19.3      22.4   6.3          0.0
364    1.0        24.76      20.2      29.0   0.0          0.0

[365 rows x 6 columns]

In [45]:
model = sm.OLS(df.target, cons).fit()

In [46]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.723
Model:                            OLS   Adj. R-squared:                  0.719
Method:                 Least Squares   F-statistic:                     187.1
Date:                Fri, 19 Jul 2019   Prob (F-statistic):           1.19e-97
Time:                        12:56:29   Log-Likelihood:                -824.07
No. Observations:                 365   AIC:                             1660.
Df Residuals:                     359   BIC:                             1684.
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const           6.4447      0.845      7.627      0.000       4.783       8.107
temp-median     0.0308      0.188      0.164      0.870      -0.339       0.401
temp-min       -0.0190      0.110     -0.172      0.863      -0.236       0.198
temp-max        0.6560      0.095      6.895      0.000       0.469       0.843
rain           -0.0575      0.010     -5.726      0.000      -0.077      -0.038
finals-week     5.1832      0.271     19.126      0.000       4.650       5.716
==============================================================================
Omnibus:                       39.362   Durbin-Watson:                   1.930
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               12.936
Skew:                           0.153   Prob(JB):                      0.00155
Kurtosis:                       2.130   Cond. No.                         271.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### What's the actual multivariable  linear regression equation with the coefficients?

$$ \hat y = \hat\beta_0 + \hat\beta_1 x_1 + \hat\beta_2 x_2 +\ldots + \hat\beta_n x_n $$

#### Step 3: Assess the model fit
Demonstrate and Apply:

**Discussion:**

In groups of 2 or 3 write a synopsis of the following summary

* What can you say about the coefficients?

* What do the p-values tell us?

* What does R^2 represent

* What other insights do you notice?


#### Step 4: Validate the model 
![scikit](https://cdn-images-1.medium.com/max/1200/1*-FHtcdQljtGKQGm77uDIyQ.png)
- Build LinReg Model with Scikit-Learn
- Check some of the linear regression assumptions

In [47]:
linreg = LinearRegression()

In [48]:
X = df.drop("target", axis=1)
y = df.target

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [50]:
# use fit to form model
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [51]:
# gives you r squared of the model
linreg.score(X_test, y_test)

0.7584380893422863

`score` here returns the R^2. 

How does it differ from when you use the whole dataset?

### Integration:

Repeat this process for concrete mixture. the documentation can be found [here](http://archive.ics.uci.edu/ml/datasets/concrete+compressive+strength)
![test](building-construction-building-site-constructing-small.jpg)

In [ ]:
df2 = pd.read_excel('http://archive.ics.uci.edu/ml/machine-learning-databases/concrete/compressive/Concrete_Data.xls')

In [ ]:
df2.head()
df2.info()

### Assessment

### Reflection

### Resources

Resources
https://towardsdatascience.com/linear-regression-detailed-view-ea73175f6e86

Full code implementation of Linear Regression
Full code — https://github.com/SSaishruthi/Linear_Regression_Detailed_Implementation

Multiple regression explained
https://www.statisticssolutions.com/what-is-multiple-linear-regression/