In [3]:
### Import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Image

In [4]:
### 1. open the notebook with the CO2 data
##last time we picked columns 0, 1 and 3. Choose this time columns 0, 1, 3 and 4.
###Whenever there is a missing value (-99.99) replace it with the corresponding value at column 4.
table = pd.read_csv("co2_2.csv", header=None)
table.head()

      0  1         2       3       4       5  6
0  1958  3  1958.208  315.71  315.71  314.62 -1
1  1958  4  1958.292  317.45  317.45  315.29 -1
2  1958  5  1958.375  317.50  317.50  314.71 -1
3  1958  6  1958.458  -99.99  317.10  314.85 -1
4  1958  7  1958.542  315.86  315.86  314.98 -1

In [5]:
table.iloc[:,[0,1,3,4]]

        0   1       3       4
0    1958   3  315.71  315.71
1    1958   4  317.45  317.45
2    1958   5  317.50  317.50
3    1958   6  -99.99  317.10
4    1958   7  315.86  315.86
5    1958   8  314.93  314.93
6    1958   9  313.20  313.20
7    1958  10  -99.99  312.66
8    1958  11  313.33  313.33
9    1958  12  314.67  314.67
10   1959   1  315.62  315.62
11   1959   2  316.38  316.38
12   1959   3  316.71  316.71
13   1959   4  317.72  317.72
14   1959   5  318.29  318.29
15   1959   6  318.15  318.15
16   1959   7  316.54  316.54
17   1959   8  314.80  314.80
18   1959   9  313.84  313.84
19   1959  10  313.26  313.26
20   1959  11  314.80  314.80
21   1959  12  315.58  315.58
22   1960   1  316.43  316.43
23   1960   2  316.97  316.97
24   1960   3  317.58  317.58
25   1960   4  319.02  319.02
26   1960   5  320.03  320.03
27   1960   6  319.59  319.59
28   1960   7  318.18  318.18
29   1960   8  315.91  315.91
..    ...  ..     ...     ...
705  2016  12  404.45  404.45
706  2017   1  406.17  406.17
707  2017   2  406.46  406.46
708  2017   3  407.22  407.22
709  2017   4  409.04  409.04
710  2017   5  409.69  409.69
711  2017   6  408.88  408.88
712  2017   7  407.12  407.12
713  2017   8  405.13  405.13
714  2017   9  403.37  403.37
715  2017  10  403.63  403.63
716  2017  11  405.12  405.12
717  2017  12  406.81  406.81
718  2018   1  407.96  407.96
719  2018   2  408.32  408.32
720  2018   3  409.41  409.41
721  2018   4  410.24  410.24
722  2018   5  411.24  411.24
723  2018   6  410.79  410.79
724  2018   7  408.71  408.71
725  2018   8  406.99  406.99
726  2018   9  405.51  405.51
727  2018  10  406.00  406.00
728  2018  11  408.02  408.02
729  2018  12  409.07  409.07
730  2019   1  410.83  410.83
731  2019   2  411.75  411.75
732  2019   3  411.97  411.97
733  2019   4  413.32  413.32
734  2019   5  414.66  414.66

[735 rows x 4 columns]

In [6]:
table[3].replace(-99.99, table[4])

0      315.71
1      317.45
2      317.50
3      317.10
4      315.86
5      314.93
6      313.20
7      312.66
8      313.33
9      314.67
10     315.62
11     316.38
12     316.71
13     317.72
14     318.29
15     318.15
16     316.54
17     314.80
18     313.84
19     313.26
20     314.80
21     315.58
22     316.43
23     316.97
24     317.58
25     319.02
26     320.03
27     319.59
28     318.18
29     315.91
        ...
705    404.45
706    406.17
707    406.46
708    407.22
709    409.04
710    409.69
711    408.88
712    407.12
713    405.13
714    403.37
715    403.63
716    405.12
717    406.81
718    407.96
719    408.32
720    409.41
721    410.24
722    411.24
723    410.79
724    408.71
725    406.99
726    405.51
727    406.00
728    408.02
729    409.07
730    410.83
731    411.75
732    411.97
733    413.32
734    414.66
Name: 3, Length: 735, dtype: float64

In [7]:
### 2. Create a new directory in your documents folder name it visualizations 
#  - in it create a folder named warm-up-mod1
# - list all folders in your documents folder 
# `use ls`

!mkdir visualizations
!cd visualizations
!mkdir warm-up-mod1
!cd warm-up-mod1
!ls

2_2_simulation_np_random_n_dict.md mywork_warmup7_pw.ipynb
2_3_cat_n_normalize.md             mywork_warmup8_pw_ag.ipynb
2_4_visualization_matplotlib.md    mywork_warmup9_pw.ipynb
2_5_apply_lambda_gb_plt.md         plots
2_6_histogram_lr_creation.md       suicide_rates.csv
Untitled.ipynb                     suicidebar.jpg
co2_2.csv                          suicides.csv
mywork_warmup5_pw.ipynb            visualizations
mywork_warmup5_pw.py               warm-up-mod1
mywork_warmup6_pw.ipynb

In [ ]:
### 3. Using matplotlib we want to create the following figure : 
#![Alt Image Text](./plots/CO2_warmup.png)

#- Each month is signaled by different colour 
#- Add an yearly average (red) (use groupby with mean)
# - Notice the starting year on the x-axis
# - Notice the range on the Y-axis



### 4. Push your notebook to your github branch 

### 5. save your image into the visualizations folder we have created 

`plt.savefig`

#### [optional] Play with the scales of axis to make the difference among months more apparent