### 1. Create a dictionary where each object contains a list of one float (Age) and one string (Family name) (at least 5 objects)

Example:
`{Charles: [23.4, "Darwin"], Alan: [42.5, "Turing"]}`

In [4]:
people = {"Charles": [23.4, "Darwin"], "Alan": [42.5, "Turing"], "Fred": [38.4, "Nietzsche"], "Maynard": [70.1, "Keynes"], "Phoebe":[38.8, "Wong"]}

In [5]:
print(people)

{'Charles': [23.4, 'Darwin'], 'Alan': [42.5, 'Turing'], 'Fred': [38.4, 'Nietzsche'], 'Maynard': [70.1, 'Keynes'], 'Phoebe': [38.8, 'Wong']}

In [7]:
people["Phoebe"][0]

38.8

people = [{'Family Name': 'Darwin', 'Age': 23.4},{'Family Name': 'Turing', 'Age': 42.5}]

### 2. Delete one object from the dictionary

In [15]:
people.pop('Phoebe')
print(people)

{'Charles': [23.4, 'Darwin'], 'Alan': [42.5, 'Turing'], 'Fred': [38.4, 'Nietzsche'], 'Maynard': [70.1, 'Keynes']}

### 3. Replace the float number of one of your objects - we are changing a list entry inside a dictionary record! look at Darwin's new age

Example:
`{Charles: [99.73, "Darwin"], Alan: [42.5, "Turing"]}`

In [4]:
people["Charles"][0]=99.73
print(people)

{'Charles': [99.73, 'Darwin'],
 'Alan': [42.5, 'Turing'],
 'Fred': [38.4, 'Nietzsche'],
 'Maynard': [70.1, 'Keynes']}

### 4. write a for loop that goes through all records in the dictionary, prints the family name and assigns the float numbers into one merged list (see ages)

`ages = [23.4, 22.9, 552.9]`

In [9]:
people['Charles'][0]

23.4

In [6]:
age =[]
for p in people:
    print(people[p][1])
    age.append(people[p][0])
print(age)

Darwin
Turing
Nietzsche
Keynes
Wong
[23.4, 42.5, 38.4, 70.1, 38.8]

In [16]:
people

{'Charles': [23.4, 'Darwin'],
 'Alan': [42.5, 'Turing'],
 'Fred': [38.4, 'Nietzsche'],
 'Maynard': [70.1, 'Keynes']}

In [18]:
for key, value in people.items():
    print(value[1])
    age.append(value[0])
print(age)

Darwin
Turing
Nietzsche
Keynes
[23.4, 42.5, 38.4, 70.1, 38.8, 23.4, 42.5, 38.4, 70.1]

### 5. Download your notebbok as a .py (regular python script) save it somewhere you know

### 6. Go to terminal, navigate to the folder where you have saved the script and execute it through the terminal

`use commandds: 
cd and 
python your_script.py`


### [optional] Calculate with a for loop the median and mean of the ages list

In [19]:
import statistics
age =[]
for p in people:
    age.append(people[p][0])
statistics.median(age)

56.3

In [20]:
(42.5+70.1)/2

56.3

In [18]:
sum=0
for p in people:
    sum += people[p][0]
print ("mean is " + str(round(sum/len(people),2)))

mean is 62.68

In [21]:
age

[99.73, 42.5, 38.4, 70.1]

In [22]:
age.sort()
print(age)

[38.4, 42.5, 70.1, 99.73]

In [35]:
len(age)%2

0

In [44]:
(round(age[3]))

100

a = round(5/2)
print (a)

In [45]:
age[int(len(age)/2-1)]

42.5

In [32]:
n= int(len(age)/2)
age[n]

70.1

In [49]:
#v = 1
if False:
    print('yes')a
else: 
    print('no')

no

In [50]:
if True:
    print('yes')
else:
    print('no')

yes

In [ ]:
age[round()]

In [61]:
def mymed(age):
    age.sort()
    if len(age)%2 == 0:
        med = (age[int(len(age)/2)]+age[int(len(age)/2-1)])/2
    else:    
        med = age[round(len(age)/2)]
    return "median is " + str(round(med,2))

print(mymed(age))

median is 56.3

In [58]:
age1 = [1,2,3,4,5]
mymed(age1)

'median is 3'

In [59]:
age2=[1,2,3,4]
mymed(age2)

'median is 2.5'

In [60]:
age3=[1,2,3,4,5,6]
mymed(age3)

'median is 3.5'