In [1]:
# [HARD] warm-up

### Import packages
import pandas as pd

import numpy as np

In [2]:
### Create a function to split data into training data and testing data
##### When applying machine learning algorithms in a supervised learning scenario we want to have data to 
#learn from and some data we have never seen before to test what we have learnt. 

### We have two tasks: 
###- 	Choosing a condition to split the data on (e.g. we 	gonna choose the year 2010)
###-  Split the features from the target we want to 	predict

### 1. Open your CO2 notebook (from yesterday) through terminal!
###`use commands cd and jupyter notebook`
table = pd.read_csv("co2_2.csv", header=(None))

In [3]:
### 2. If not done yesterday, pick the year column, month column, day column and C02 column from the dataframe
table.head()

      0  1         2       3       4       5  6
0  1958  3  1958.208  315.71  315.71  314.62 -1
1  1958  4  1958.292  317.45  317.45  315.29 -1
2  1958  5  1958.375  317.50  317.50  314.71 -1
3  1958  6  1958.458  -99.99  317.10  314.85 -1
4  1958  7  1958.542  315.86  315.86  314.98 -1

In [6]:
table= table.iloc[:,[0,1,3]]

In [7]:
table.head()

      0  1       3
0  1958  3  315.71
1  1958  4  317.45
2  1958  5  317.50
3  1958  6  -99.99
4  1958  7  315.86

In [8]:
cond_df=table[0].values

In [16]:
X = table[[0,1]].values
X

array([[1958,    3],
       [1958,    4],
       [1958,    5],
       ...,
       [2019,    3],
       [2019,    4],
       [2019,    5]])

In [ ]:
df = pd.read_csv('co2_mm_mlo.csv', delim_whitespace=True, header=None)

df1 = df[[0, 1, 3]]

df1['Day'] =15

df1.columns = ['Year', 'Month', 'CO2', 'Day']

cond_df = df1['Year'].values

X = df1[['Year', 'Month', 'Day']].values

Y = df1[['CO2']].values

def tr_te_split(X, Y, cond_df, cond):
        test_ind, train_ind = np.where(cond_df >= cond)[0], np.where(cond_df < cond)[0]
        X_train, X_test, Y_train, Y_test = X[train_ind,:], X[test_ind,:], \
                                                        Y[train_ind], Y[test_ind]
        return X_train, X_test, Y_train, Y_test

tr_te_split(X, Y, cond_df, 2010)

In [ ]:
### 3. Create the function
# cond_df is an array of the column you want to condition your split on
# the idea is to use np.where on the condition column to get the indices on which the full dataset will be split
# once we have the indices we can use them on the full dataset to make the split. 
# Notice: the indices of the conditioned column and the pandas df are one and the same.
# X are all the features and Y should be the CO2 column - please split them before executing the function 
# and assign them to X annd Y 
 
def tr_te_split(X, Y, cond_df, cond):

#`cond_df could be an array of the year column`
							
#`use np.where

In [ ]:
### 4. Check the data sets to see if your split worked (can do manually - with your eyes)

In [ ]:
### 5. git push it to your branch!

In [ ]:
### [optional] 6. Explore the use of the describe(), info() and dtypes on the pandas df before turnnnig it to numpy array